html {
  font-family: sans-serif;
}

/* Table Styling */
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}

/* Page styling */
#add-book {
  height: 400px;
  width: 300px;
  border: 1px black solid;
  border-radius: 20px;
  box-shadow: 2px 2px 10px black;
}

.container {
  display: flex;
  flex-direction: column;
}

#close-modal {
  align-self: flex-end;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: rgb(141, 141, 141);
  border-radius: 15px;

  display: grid;
  place-items: center;
  font-weight: bold;
  color: white;
}

input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px #E5E7EB solid ;
  width: auto;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 50px);
  gap: 10px;
  margin-top: 20px;
}

.input-label {
  justify-self: right;
  align-self: center;
}

#submit-btn {
  place-self: center;
  grid-column: 1 / 3;
  width: 150px;
  height: 50px;
  font-size: 16pt;
}